.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-self: center;
  max-width: 100vw;
  padding-top: 4rem;
  margin: auto;
}

.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

.btnContainer {
  margin: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
